# Dispositivo físico (Expo Go): IP LAN de tu Mac
# ipconfig getifaddr en0
EXPO_PUBLIC_API_URL=http://192.168.11.175:3000/v1

# iOS Simulator:
# EXPO_PUBLIC_API_URL=http://localhost:3000/v1

# Android Emulator:
# EXPO_PUBLIC_API_URL=http://10.0.2.2:3000/v1
